
@{
    ViewBag.Title = "Sign Up";
}

<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="@Url.Content("~/Content/images/logIn.jpg")"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:90%" width="100%" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form action="/login/test" method="post">
                                    <p>Please SignUp to create new account</p>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Username</label>
                                        <input type="email" id="form2Example11" class="form-control"
                                               placeholder="UserName" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Mobile Number</label>
                                        <input type="email" id="form2Example11" class="form-control"
                                               placeholder="Mobile number" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">CNIC</label>
                                        <input type="email" id="form2Example11" class="form-control"
                                               placeholder="CNIC" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Password</label>
                                        <input type="password" id="form2Example22" class="form-control" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Confirm Password</label>
                                        <input type="password" id="form2Example22" class="form-control" />
                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <input value="signUp" class="btn btn-dark btn-lg btn-block w-100" type="submit" />
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Already a member?</p>
                                        <a href="/login" class="">Login</a>
                                    </div>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>